! terminal colors ------------------------------------------------------------

! tangoesque scheme
*background: #111111
*foreground: #babdb6
! Black (not tango) + DarkGrey
*color0:  #000000
*color8:  #555753
! DarkRed + Red
*color1:  #ff6565
*color9:  #ff8d8d
! DarkGreen + Green
*color2:  #93d44f
*color10: #c8e7a8
! DarkYellow + Yellow
*color3:  #eab93d
*color11: #ffc123
! DarkBlue + Blue
*color4:  #204a87
*color12: #3465a4
! DarkMangenta + Mangenta
*color5:  #ce5c00
*color13: #f57900
!DarkCyan + Cyan (both not tango)
*color6:  #89b6e2
*color14: #46a4ff
! LightGrey + White
*color7:  #cccccc
*color15: #ffffff

! Xcursor --------------------------------------------------------------------

Xcursor.theme: Vanilla-DMZ
Xcursor.size: 18

! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

! xterm ----------------------------------------------------------------------

xterm.geometry:           80x25
xterm.faceName:           terminus:pixelsize=10
!xterm*font:             -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xterm.dynamicColors:      true
xterm.utf8:               2
xterm.eightBitInput:      true
xterm.saveLines:          512
xterm.scrollTtyKeypress:  true
xterm.scrollTtyOutput:    false
xterm.scrollBar:          false
xterm.rightScrollBar:     false
xterm.jumpScroll:         true
xterm.multiScroll:        true
xterm.toolBar:            false

! rxvt-unicode ---------------------------------------------------------------

URxvt*font:  -*-terminus-*-*-*-*-14-140-72-*-*-*-iso8859-*
urxvt*internalBorder:     5
urxvt*fading:             20
urxvt*shading:            30
urxvt*tintColor:          black
urxvt*saveLines:          32767
urxvt*visualBell:         true
urxvt*scrollTtyKeypress:  true
urxvt*scrollWithBuffer:   false
urxvt*scrollTtyOutput:    false
urxvt*scrollBar:          false
urxvt*scrollstyle:        plain
urxvt*scrollBar_right:    true
urxvt*scrollColor:        #777777
urxvt*cursorColor:        #ffcc00
urxvt*inheritPixmap:      true
urxvt*print-pipe:         cat > $(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
urxvt*secondaryScroll:    true
urxvt*utmpInhibit:        true
urxvt*perl-lib:           /usr/lib/urxvt/perl/
urxvt*perl-ext-common:    default,matcher,clipboard
urxvt*urlLauncher:        /usr/bin/chromium
urxvt*matcher.button:     1
URxvt*termName: rxvt

URxvt.transparent:   true
URxvt.shading:       20

transparent=0000 opaque=ffff
urxvt*background:        #e4e4e4
